IO_LOC "sys_clk" H11;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "sys_resetn" T2;
IO_PORT "sys_resetn" PULL_MODE=NONE;

IO_LOC "d7" D7;
IO_PORT "d7" PULL_MODE=NONE IO_TYPE=LVCMOS15;


// DE-10 nano settings for SDRAM_* ports
//set_instance_assignment -name IO_STANDARD "3.3-V LVTTL" -to SDRAM_*
//set_instance_assignment -name CURRENT_STRENGTH_NEW "MAXIMUM CURRENT" -to SDRAM_*
//set_instance_assignment -name FAST_OUTPUT_REGISTER ON -to SDRAM_*
//set_instance_assignment -name FAST_OUTPUT_ENABLE_REGISTER ON -to SDRAM_DQ[*]
//set_instance_assignment -name FAST_INPUT_REGISTER ON -to SDRAM_DQ[*]
//set_instance_assignment -name ALLOW_SYNCH_CTRL_USAGE OFF -to *|SDRAM_*
IO_LOC "SDRAM_DQ[0]" A15;
IO_PORT "SDRAM_DQ[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_DQ[1]" B13;
IO_PORT "SDRAM_DQ[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_DQ[2]" B12;
IO_PORT "SDRAM_DQ[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_DQ[3]" A14;
IO_PORT "SDRAM_DQ[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_DQ[4]" A11;
IO_PORT "SDRAM_DQ[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_DQ[5]" C12;
IO_PORT "SDRAM_DQ[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_DQ[6]" C10;
IO_PORT "SDRAM_DQ[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_DQ[7]" C11;
IO_PORT "SDRAM_DQ[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_DQ[8]" R9;
IO_PORT "SDRAM_DQ[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_DQ[9]" N9;
IO_PORT "SDRAM_DQ[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_DQ[10]" L9;
IO_PORT "SDRAM_DQ[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_DQ[11]" N8;
IO_PORT "SDRAM_DQ[11]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_DQ[12]" B11;
IO_PORT "SDRAM_DQ[12]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_DQ[13]" A12;
IO_PORT "SDRAM_DQ[13]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_DQ[14]" N6;
IO_PORT "SDRAM_DQ[14]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_DQ[15]" N7;
IO_PORT "SDRAM_DQ[15]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "SDRAM_A[0]" D14;
IO_PORT "SDRAM_A[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_A[1]" G14;
IO_PORT "SDRAM_A[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_A[2]" F16;     // 
IO_PORT "SDRAM_A[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_A[3]" J16;     // 
IO_PORT "SDRAM_A[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

// Bottom GPIO
IO_LOC "SDRAM_A[4]" T12;
IO_PORT "SDRAM_A[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_A[5]" K11;
IO_PORT "SDRAM_A[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_A[6]" K13;
IO_PORT "SDRAM_A[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "SDRAM_A[7]" P13;
IO_PORT "SDRAM_A[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_A[8]" R12;
IO_PORT "SDRAM_A[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_A[9]" T14;
IO_PORT "SDRAM_A[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_A[10]" F14;
IO_PORT "SDRAM_A[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_A[11]" R13;
IO_PORT "SDRAM_A[11]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "SDRAM_BA[0]" E15;
IO_PORT "SDRAM_BA[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_BA[1]" B14;
IO_PORT "SDRAM_BA[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "SDRAM_CLK" M15;
IO_PORT "SDRAM_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_nWE" G12;
IO_PORT "SDRAM_nWE" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_nRAS" F13;
IO_PORT "SDRAM_nRAS" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_nCAS" J14;
IO_PORT "SDRAM_nCAS" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SDRAM_nCS" G15;
IO_PORT "SDRAM_nCS" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "SDRAM_CKE" M14;
IO_PORT "SDRAM_CKE" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

// LED

IO_LOC "led[7]" L16;
IO_PORT "led[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led[6]" N16;
IO_PORT "led[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led[5]" P16;
IO_PORT "led[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led[4]" R16;
IO_PORT "led[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led[3]" L14;
IO_PORT "led[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led[2]" N14;
IO_PORT "led[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led[1]" N15;
IO_PORT "led[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led[0]" P15;
IO_PORT "led[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

// HDMI
//IO_LOC "tmds_d_p[0]" 71,70;
//IO_PORT "tmds_d_p[0]" PULL_MODE=NONE DRIVE=8;
//IO_LOC "tmds_d_p[1]" 73,72;
//IO_PORT "tmds_d_p[1]" PULL_MODE=NONE DRIVE=8;
//IO_LOC "tmds_d_p[2]" 75,74;
//IO_PORT "tmds_d_p[2]" PULL_MODE=NONE DRIVE=8;
//IO_LOC "tmds_clk_p" 69,68;
//IO_PORT "tmds_clk_p" PULL_MODE=NONE DRIVE=8;

// UART
IO_LOC "uart_txp" M11;
IO_PORT "uart_txp" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
//IO_LOC "UART_RXD" M10;  // ????
//IO_PORT "UART_RXD" IO_TYPE=LVCMOS33 PULL_MODE=UP;
